@model BlogCore.Models.Categoria

@{
    ViewData["Title"] = "Crear Categoría";

}

<br />
<br />
<h3 class="text-center">Crear una nueva categoría</h3>

<form method="POST" asp-action="Create" >

    <div class="row px-2 offset-1 border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-10 offset-1 mt-4">

                <!-- Campo: Nombre -->
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <Label asp-for="Nombre"></Label>
                        </label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre de la categoría"/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <!-- Campo: Orden -->
                <div class="form-group row">
                    <div class="col-4">
                        <Label asp-for="Orden"></Label>
                    </div>

                    <div class="col-8">
                    <input asp-for="Orden" class="form-control" placeholder="Ingrese el orden de la categoría" />
                        <span asp-validation-for="Orden" class="text-danger"></span>
                    </div>
                </div>
            
                &nbsp;

                <!---->
                <div class="form-group row">

                    <div class="col-8">
                        <partial name="_VistaCrearVolver" />
                    </div>
                </div>

                &nbsp;

            </div>

    </div>

</form>
